<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<script type="text/javascript" src="/bootbox.js"></script>
<script type="text/javascript" src="/ngBootbox.js"></script>
<script type="text/javascript" src="/paymentApp.js"></script>
<script type="text/javascript" src="/paymentSubmitController.js"></script>
<title>Payment Gateway Demo</title>
</head>
<body ng-app="paymentApp" ng-controller="paymentSubmitCtrl">

	<div class="col-md-6">
		<h2>Payment Form</h2>
		<p>
			<a href="/" class="btn btn-primary">Payments List</a>
		</p>
		<form action="https://test.payu.in/_payment" name="payuform"
			method="POST">
			<div class="form-group">
				<label for="productInfo">Product Name:</label> <input type="text"
					class="form-control" id="productInfo" name="productinfo"
					ng-model="productinfo" required>
			</div>
			<div class="form-group">
				<label for="firstname">Name:</label> <input type="text"
					class="form-control" id="firstname" name="firstname"
					ng-model="firstname" required>
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" name="email" ng-model="email"
					required>
			</div>
			<div class="form-group">
				<label for="email">Phone:</label> <input type="number"
					class="form-control" id="phone" name="phone" ng-model="phone"
					required>
			</div>
			<div class="form-group">
				<label for="amount">Amount:</label> <input type="number"
					class="form-control" id="amount" name="amount" ng-model="amount"
					required>
			</div>
			<textarea name="surl" id="surl" ng-model="surl" rows="2" cols="2"
				hidden></textarea>
			<textarea name="furl" id="furl" ng-model="furl" rows="2" cols="2"
				hidden></textarea>
			<textarea name="key" id="key" ng-model="key" rows="2" cols="2" hidden></textarea>
			<textarea name="hash" id="hash" ng-model="hash" rows="2" cols="2"
				hidden></textarea>
			<textarea name="txnid" id="txnid" ng-model="txnid" rows="2" cols="2"
				hidden></textarea>
			<textarea name="service_provider" id="service_provider" rows="2"
				cols="2" hidden></textarea>
			<button type="button" class="btn btn-outline-secondary"
				ng-show="!showSubmitButton" ng-click="confirmPayment()"
				ng-disabled="payuform.$invalid">Confirm</button>
			<button type="submit" class="btn btn-outline-danger"
				ng-show="showSubmitButton">Submit</button>
		</form>
	</div>
</body>
</html>
